<!DOCTYPE html>
{% load static %}
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'js/bootstrap.js' %}">
<link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<head>
 <title>Menu Page</title>
</head>
<style>
    textarea {
        width : 100%;
        background: #EFEDED;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body {
        background-color:#EFE9DB;
        font-family: Quattrocento;
        margin-top: 2vw;
    }
    h1 {
        position: absolute;
        font-family: Quattrocento;
        font-style: normal;
        font-weight: normal;
        font-size: 5vw;
        left: 12vw;
        color: #354449;
    }
    .line {
        position: absolute;
        width: 83vw;
        height: 3px;
        top: 9vw;
        left: 10vw;
        background: #D09780;
    }
    .tolong{
        text-align: right;
        right: 12vw;
        position: fixed;
        bottom: 3vw;
    }
    .save{
        border: 1px solid #000000;
        width: 10vw;
        text-align: center;
        font-size: 1.5vw;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
        margin: 0;
        padding: 0;
    }
    .save:hover{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
</style>
<body>
    <div style="padding-left:5%;padding-right:5%;">
        <h1>Menu - {{ toko.nama }}</h1>
        <div class="line"></div>
    <div class="container" style="padding-top: 8vw;">
        <div class="row my-5">
            {% for ngambil in menu %}
            <div class = "col-sm d-flex align-items-center" style="flex-basis: 25%;">
                <div class="card" style="width: 15rem;">
                <img
                src= "{{ ngambil.Masukkan_Foto_Menu }}"
                class="card-img-top"
                alt="{{ ngambil.Nama_Menu }}"
                />
                    <div class="card-body">
                <p class="card-text">
                <p> {{ngambil.Nama_Menu}} </p>
                <p> {{ngambil.Harga_Menu}} </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="tolong">
        <a href="{% url 'menupage:tambah_menu' id %}"><button class="save btn btn-default" type="submit">Tambah Menu</button></a>
        <a href="{% url 'landingpage:toko' id %}"><button class="save btn btn-default" type="submit">Kembali</button></a>
        <!-- <a href="/hapusmenu-page/"><button class="save btn btn-default" type="submit">Delete</button></a> -->
    </div>
</body>
</html>