{% extends "base.html" %} {% block content %}
{% load static %}

<div class="row my-5">
    {%for kedai in kedai %}
  <div class="col-sm d-flex justify-content-center py-2">
    <div class="card" style="width: 18rem;">
      <a href="{% url 'landingpage:toko' id=kedai.id %}"
        ><img
          src="{{ kedai.foto_url }}"
          class="card-img-top"
          alt="Telegram Coffee"
          style="height: 200px;"
      /></a>
      <div class="card-body">
        <p class="card-text">
          {{kedai.nama}}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
