{% extends "base.html" %} {% block content %}
{% load static %}

<form action="" method="POST">
<table>
        {% csrf_token %}
    {{ form.as_table }}
</table>
<input type="submit" value="Submit" style="margin: auto"/>
</form>
{% endblock %}