{% extends "base.html" %} {% block content %}
{% load static %}

<div class="row my-4">
  <div class="col-md-6 d-flex justify-content-center align-items-center">
    <img
      src="{{ kedai.foto_url }}"
      class="card-img-top"
      alt="Telegram Coffee"
    />
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-sm" style="border-bottom: #D09780 2px solid; font-size: 2rem;">
        {{ kedai.nama }}
      </div>
    </div>
    {% if nilai == None %}
    <div class="row d-flex justify-content-around">
      <div class="col-xs-3">
        <div class="card">
          <h1
            class="badge badge-custom"
            style="border-bottom-right-radius: 0; border-bottom-left-radius: 0; font-size: 100%;"
          >
            Rasa
          </h1>
          <div class="card-body py-0 mt-n2">
            <p class="card-text text-center" style="font-size: 200%;">
              0.0
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
            <div class="card">
                    <h1
                      class="badge badge-custom"
                      style="border-bottom-right-radius: 0; border-bottom-left-radius: 0; font-size: 100%;"
                    >
                      Suasana
                    </h1>
                    <div class="card-body py-0 mt-n2">
                      <p class="card-text text-center" style="font-size: 200%;">
                        0.0
                      </p>
                    </div>
                  </div>
      </div>
      <div class="col-xs-3">
            <div class="card">
                    <h1
                      class="badge badge-custom"
                      style="border-bottom-right-radius: 0; border-bottom-left-radius: 0; font-size: 100%;"
                    >
                      Pelayanan
                    </h1>
                    <div class="card-body py-0 mt-n2">
                      <p class="card-text text-center" style="font-size: 200%;">
                        0.0
                      </p>
                    </div>
                  </div>
      </div>
      <div class="col-xs-3">
            <div class="card">
                    <h1
                      class="badge badge-custom"
                      style="border-bottom-right-radius: 0; border-bottom-left-radius: 0; font-size: 100%;"
                    >
                      Total
                    </h1>
                    <div class="card-body py-0 mt-n2">
                      <p class="card-text text-center" style="font-size: 200%;">
                        0.0
                      </p>
                    </div>
                  </div>
      </div>
    </div>
    {% endif %}
    {% if nilai != none %}
    <div class="row d-flex justify-content-around">
        <div class="col-xs-3">
          <div class="card">
            <h1
              class="badge badge-custom"
              style="border-bottom-right-radius: 0; border-bottom-left-radius: 0; font-size: 100%;"
            >
              Rasa
            </h1>
            <div class="card-body py-0 mt-n2">
              <p class="card-text text-center" style="font-size: 200%;">
                {{nilai.countR}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-3">
              <div class="card">
                      <h1
                        class="badge badge-custom"
                        style="border-bottom-right-radius: 0; border-bottom-left-radius: 0; font-size: 100%;"
                      >
                        Suasana
                      </h1>
                      <div class="card-body py-0 mt-n2">
                        <p class="card-text text-center" style="font-size: 200%;">
                {{nilai.countS}}
                          
                        </p>
                      </div>
                    </div>
        </div>
        <div class="col-xs-3">
              <div class="card">
                      <h1
                        class="badge badge-custom"
                        style="border-bottom-right-radius: 0; border-bottom-left-radius: 0; font-size: 100%;"
                      >
                        Pelayanan
                      </h1>
                      <div class="card-body py-0 mt-n2">
                        <p class="card-text text-center" style="font-size: 200%;">
                {{nilai.countP}}
                          
                        </p>
                      </div>
                    </div>
        </div>
        <div class="col-xs-3">
              <div class="card">
                      <h1
                        class="badge badge-custom"
                        style="border-bottom-right-radius: 0; border-bottom-left-radius: 0; font-size: 100%;"
                      >
                        Total
                      </h1>
                      <div class="card-body py-0 mt-n2">
                        <p class="card-text text-center" style="font-size: 200%;">
                {{nilai.rataTotal}}
                        </p>
                      </div>
                    </div>
        </div>
      </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-1 px-1">
            <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="col-xs-11">
            <p>&nbsp; {{ kedai.alamat }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 px-1">
            <i class="far fa-clock"></i>
        </div>
        <div class="col-xs-11">
            <p>{{ kedai.jam_operasional }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 px-1">
            <i class="fas fa-phone"></i>
        </div>
        <div class="col-xs-11">
            <p>{{ kedai.nomor_telepon }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 px-1">
            <i class="fas fa-coins"></i>
        </div>
        <div class="col-xs-11">
            <p>{{ kedai.harga_per_orang }}</p>
        </div>        
    </div>
    <div class="row pos px-1">
        {{ kedai.fasilitas }}
    </div>
    <div class="row">
        <div class="col-sm cui">
            <div style = "margin-top: 3vw;"></div>
            <a href="{% url 'APPComment:indexComment' kedai.id %}"><button class="save btn btn-default pos">Tulis Komentar</button>
            <a href="{% url 'menupage:menu_page' kedai.id %}"><button class="save btn btn-default pos">Lihat Menu</button></a>
        </div>
    </div>
  </div>
</div>

<div class="body">
    <div class='container-fluid row' id='bgform'>
        {% for x in komen %}
        <div class="col-md-2">
            <img src="{% static 'images/fotoKomen.png' %}" alt="" class="foto">
        </div>
        <div class="glyphicon glyphicon-triangle-left"></div>
        <div class='col-md-9' id='kotakagenda'>
            <h3 id="namakegiatan">{{x.fieldJudulKomen}}</h3>
            <hr>
            <h5 class="isiK">{{x.fieldIsiKomen}}</h5>
            <hr>
            <ul class="list-inline">
                <li class="list-inline-item"><h5 class="rating">Rating Rasa            :{{x.fieldRatingR}}</h5></li>
                <li class="list-inline-item"><h5 class="rating">Rating Rasa            :{{x.fieldRatingS}}</h5></li>
                <li class="list-inline-item"><h5 class="rating">Rating Rasa            :{{x.fieldRatingP}}</h5></li>
            </ul>
        </div>
    {% endfor %}   
    </div>
    <div class="container-fluid tombol">
        <!-- <a href="/delete/"><button class="btn btn-danger" type="submit">Delete</button></a> -->
    </div>
    
</div>
{% endblock %}
