<html>
{% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.js' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<head>
    <title>Kritik dan Saran</title>
</head>
<style>
    textarea {
        width : 100%;
        background: #EFEDED;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    body {
        background-color:#EFE9DB;
        font-family: Quattrocento;
        margin-top: 2vw;
    }
    h1 {
        position: absolute;
        left: 9vw;
        top: 3vw;
        font-family: Quattrocento;
        font-style: normal;
        font-weight: normal;
        font-size: 5vw;
        color: #354449;
    }
    .line {
        position: absolute;
        width: 90vw;
        height: 3px;
        left: 5vw;
        top: 9vw;
        background: #D09780;
    }
    .form{
        margin-top: 10vw;
    }
    button, input {
        width:69vw;
        background: #EFEDED;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 1vw;
        margin-left: 1vw;
    }
    .tolong{
        /* padding-right: 5%; */
        text-align: right;
    }
    .save{
        border: 1px solid #000000;
        width: 7vw;
        text-align: center;
        font-size: 1.5vw;
        padding: 0;
    }
    select {
        word-wrap: normal;
        margin-top: 1vw;
        margin-left: 1vw;
        height: 2vw;
        width: 3vw;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    #id_fieldIsiKomen {
        margin-top: 1vw;
        margin-left: 1vw;
        width: 69vw;
    }
    #id_fieldJudulKomen{
        height: 2.5vw;
    }
    th{
        text-align: left;
    }

    label {
        display: inline-block;
        margin-bottom: .5rem;
        margin-top: 1vw;
    }
    .btn:hover{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .inputBT{
        margin: 0;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    }
    /* .nyamping{
        padding-top: 10vw;
    }     */



</style>
<body>
    <div style="padding-left:5%;padding-right:5%;">
    <div class="container" >
        <h1>Tulis Komentar</h1>
        <div class="row">
            <div class="line"></div>
            <div class="col-12 form">
                {% block content %}
                <form method="POST" class="post-form" action="{% url 'APPComment:inputKomen' id %}">
                    {% csrf_token %}
                    <table>
                        <div class="row">
                                {{generated_html.as_table}}                        
                        </div>
                    </table>
                    <div class="tolong">
                        <input type="submit" value="Tambah" name="tombol" class="inputBT save btn btn-default">
                        <a class="save btn btn-default" href="{% url 'landingpage:toko' id %}">Kembali</a>
                    </div>
                </form>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>